# This file indicates what files should be left untracked 

# Python cache

__pycache__

utils/__pycache__

# virtual env from local machine

/env

# Miscellaneous files folder

/misc

# Telegram session

/Main.session

# Constant variables, personal info

/config.py

# Main script logger

runtime.log