# Number that is going to be used to manage the whatsapp instance. It should be in the same format as shown in the app
w_admin_number = "+00 0000000"

# Telegram username administrator, in this format t_admin_user = 't.me/username'
t_admin_user = None